{% load staticfiles %}
<?xml version="1.0" encoding="iso-8859-1"?>
 <!DOCTYPE html 
   PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
     <title>
     </title>

     <link rel="stylesheet" type="text/css" href="{% static 'checklist/css/main.css' %}"> 
     <link rel="stylesheet" type="text/css" href="{% static 'checklist/css/normalize.css' %}"> 

     <script src="{% static 'checklist/js/main.js' %}"></script>
     <script src="{% static 'checklist/js/plugins.js' %}"></script>
   </head>
   <body>
    <div id="content">
      {% block content %} {% endblock content %}
    </div>
   </body>
 </html>
