{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}Default{% endblock %}</title>
  <script src="bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'checklist/css/main.css' %}"> 
  <link rel="stylesheet" type="text/css" href="{% static 'checklist/css/normalize.css' %}"> 
  {% compress css %}
  <link rel="stylesheet" type="text/scss" href="{% static "bootstrap/css/_bootstrap.scss" %}" />
  <link rel="stylesheet" type="text/scss" href="{% static "checklist/css/completionist.scss" %}" />
  {% endcompress %}
  {% block header %}{% endblock %}
</head>

<body>
  <div id="content" class="container-fluid">
    {% block content %}{% endblock %}
  </div>

  {% block js %}{% endblock %}
</body>
</html>
