{% extends 'checklist/base.html' %}
{% load staticfiles %}
{% block title %}Completionist - Checklists{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'auth:logout' %}">Logout</a>
{% else %}
  <a href="{% url 'auth:login' %}">Login</a> &nbsp; &nbsp;
  <a href="{% url 'registration_register' %}">Register</a>
{% endif %}
<br /> <br />

<h2>Checklists</h2><br />
  {% if checklists %}
  <ul>
    {% for checklist in checklists %}
      <a href="/cl/{{ checklist.id }}/">{{ checklist.name }}</a> &nbsp; &nbsp; <a href="/newrun/{{ checklist.id }}/">Run This</a><br />
    {% endfor %}
  </ul>
  {% else %}
    <p>No checklists are added.</p>
  {% endif %}
  
  <br /> <br /> <br />

<h2>Runs</h2><br />

  {% if runs %}
  <ul>
    {% for run in runs %}
      <a href="/run/{{ run.id }}/">{{ run.name }}</a> &nbsp; &nbsp; {{ run.checkListName }}<br />
        {% if run.owner %}
        &nbsp; &nbsp;Owner: {{ run.owner.username }}<br />
        {% endif %}
        &nbsp; &nbsp;Run Create: {{ run.createDate }}<br />
        
        {% if run.end != None %}
          &nbsp; &nbsp;Run Status: Finished {{ run.endDate }}<br />
        {% else %}
          &nbsp; &nbsp;Last Update: {{ run.lastUpdate }}<br />
          &nbsp; &nbsp;Run Status: In Progress <br />
        {% endif %}
      <br />
    {% endfor %} 
  {% else %}
    You have no runs <br />
  {% endif %}

{% endblock %}

