{% extends 'checklist/base.html' %}
{% load staticfiles %}
{% block title %}Completionist - Checklists{% endblock %}
{% block content %}
<h2>Checklists</h2><br />
  {% if checklists %}
  <ul>
    {% for checklist in checklists %}
      <a href="/cl/{{ checklist.id }}/">{{ checklist.name }}</a> &nbsp; &nbsp; <a href="/newrun/{{ checklist.id }}/">Run This</a><br />
    {% endfor %}
  </ul>
  {% else %}
    <p>No checklists are added.</p>
  {% endif %}
  
  <br /> <br /> <br />

<h2>Runs</h2><br />

  {% if runs %}
  <ul>
    {% for run in runs %}
      <a href="/run/{{ run.id }}/">{{ run.name }}</a> &nbsp; &nbsp; {{ run.checkListName }}<br />
        &nbsp; Run Create: {{ run.createDate }}<br />
        {% if run.end != None %}
          &nbsp; Run Status: Finished {{ run.endDate }}<br />
        {% elif run.lastUpdate != run.createDate %}
          &nbsp; Run Status: In Progress (last update: {{ run.lastUpdate }}) <br />
        {% else %}
          &nbsp; Run Status: In Progress (unused) <br />
        {% endif %}
      <br />
    {% endfor %} 
  {% else %}
    You have no runs <br />
  {% endif %}

{% endblock %}

