{% extends 'checklist/base.html' %}
{% load staticfiles %}

{% block content %}
  {% for section in sections %}
  <div id="{{section.name}}" class="row">
    <div class="section col-md-6 img-rounded">
      <div class="section-header">{{ section.name }}</div>

      {% for entry in section.entries %}
        <div class="checkbox-container" value="{{ rid }}/{{ entry.id }}/" >
          {% if entry.checked %}
            <input type="checkbox" class="checkbox" checked="{{ entry.checked }}" /> 
          {% else %}
            <input type="checkbox" class="checkbox" /> 
          {% endif %}
                
          &nbsp;&nbsp;&nbsp;{{ entry.name }} <br /> 
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %} 
{% endblock content %}

